[submodule "Fabled-Engine"]
	path = crates/Fabled-Engine
	url = https://github.com/KDahir247/Fabled-Engine.git
[submodule "FabledEngine"]
	path = FabledEngine
	url = https://github.com/KDahir247/Fabled-Engine.git
